<div class="container mt-5">
    <h2 class="text-center">Cadastro de Perfil para ONG</h2>

    <div class="text-center mb-4">
        <!-- Imagem de perfil -->
        <img src="/img/default-user.jpg" alt="Foto de Perfil" id="profile-image"
            style="width: 250px; height: 250px; object-fit: cover; border-radius: 50%;">
    </div>

    <form action="/ong/criar-perfil-ong" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="file" class="form-control-file mt-2" id="img_perfil" name="img_perfil" accept="image/*">
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Razão Social</label>
            <input type="text" class="form-control" id="razao_social" name="razao_social" required>
        </div>

        <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" name="cnpj" required>
        </div>

        <h4>Localização</h4>
        <div class="mb-3">
            <label for="rua" class="form-label">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" required>
        </div>
        <div class="mb-3">
            <label for="numero_end" class="form-label">Número</label>
            <input type="number" class="form-control" id="numero_end" name="numero_end" required>
        </div>
        <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" required>
        </div>
        <div class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" required>
        </div>
        <div class="mb-3">
            <label for="municipio" class="form-label">Município</label>
            <input type="text" class="form-control" id="municipio" name="municipio" required>
        </div>
        <div class="mb-3">
            <label for="uf" class="form-label">UF</label>
            <input type="text" class="form-control" id="uf" name="uf" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Status</label><br>
            <input type="radio" id="ativo" name="status" value="ativo" required>
            <label for="ativo">Ativo</label><br>
            <input type="radio" id="inativo" name="status" value="inativo" required>
            <label for="inativo">Inativo</label>
        </div>

        <div class="mb-3">
            <label for="missao" class="form-label">Missão</label>
            <input type="text" class="form-control" id="missao" name="missao" placeholder="Informe sua Missão">
        </div>

        <div class="mb-3">
            <label for="tipo_servicos" class="form-label">Serviços Disponibilizados</label>
            <textarea class="form-control" id="servicos" name="tipo_servico" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="publico_alvo" class="form-label">Público Alvo</label>
            <input type="text" class="form-control" id="publico_alvo" name="publico_alvo" required>
        </div>

        <div class="mb-3">
            <label for="dias_atendimento" class="form-label">Dias de Atendimento</label>
            <input type="text" class="form-control" id="dias_atendimento" name="dias_atendimento"
                placeholder="Ex: Segunda a Sexta">
        </div>
        <div class="mb-3">
            <label for="horario_inicio" class="form-label">Horário de Início</label>
            <input type="time" class="form-control" id="horario_inicio" name="horario_inicio">
        </div>
        <div class="mb-3">
            <label for="horario_final" class="form-label">Horário de Término</label>
            <input type="time" class="form-control" id="horario_final" name="horario_final">
        </div>

        <button type="submit" class="botao-primario">Salvar</button>
    </form>
    <button onclick="window.location.href='/auth/apresentacao'" class="botao-cancelar">Cancelar</button>
</div>

<script>
    document.getElementById('img_perfil').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const profileImage = document.getElementById('profile-image');

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                profileImage.src = e.target.result; // Atualiza a imagem com o arquivo escolhido
            }
            reader.readAsDataURL(file);
        } else {
            profileImage.src = '/img/default-user.jpg'; // Se nenhum arquivo for selecionado
        }
    });
</script>