<div class="container">
    <div class="secao-bem-vindo">
      <h1>Bem-vindo(a) ao Redefinindo Jornadas!</h1>
    </div>
  
    <div class="logo-grande">
      <img src="/img/logo.png" alt="Logotipo Grande">
    </div>
  
    <div class="novo-texto">
      <p>Aqui você pode escolher entre "Informações" para acessar recursos e informações úteis ou "Criar Perfil" para iniciar seu cadastro.</p>
    </div>
  
    <div class="secao-cta">
      <div class="botao-cta">
        <a href="/">Informações</a>
      </div>
      <div class="botao-cta">
        <a href="/user/criar-perfil">Criar Perfil</a>
      </div>
    </div>
  
  </div>
  
  