<div class="container">
    <div class="secao-bem-vindo">
      <h1>Bem-vindo(a) ao Redefinindo Jornadas!</h1>
      <p>Seja bem-vindo(a) à nossa comunidade solidária dedicada a transformar vidas e redefinir jornadas. Estamos aqui para ajudar e apoiar aqueles que mais precisam, construindo uma rede de esperança e oportunidades.</p>
    </div>
  
    <div class="logo-grande">
      <img src="img/logo.png" alt="Logotipo Grande">
    </div>
  
    <div class="novo-texto">
      <p>Junte-se a nós para fazer a diferença! Cadastre-se agora ou faça login para explorar todas as possibilidades que oferecemos.</p>
    </div>
  
    <div class="secao-cta">
      <div class="botao-cta">
        <a href="/login">Login</a>
      </div>
      <div class="botao-cta">
        <a href="/criar-conta">Criar conta</a>
      </div>
    </div>
  
    <div class="declaracao-missao">
      <p>No Redefinindo Jornadas, acreditamos no poder da solidariedade e na importância de oferecer apoio mútuo. Nossa missão é proporcionar uma plataforma onde todos possam encontrar ajuda, oferecer suporte e contribuir para a reintegração social da população em situação de rua. Juntos, podemos transformar vidas e criar um futuro mais inclusivo e compassivo para todos.</p>
    </div>
  </div>
  
  