/* Estilos gerais para a página de criação de conta */
body {
    background-color: #f8f9fa; /* Cor de fundo para toda a página */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

.container-criar-conta {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    background: white;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.caixa-criar-conta h2 {
    color: #004AAD;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label {
    color: #004AAD;
    font-weight: bold;
    font-size: 16px;
}

.grupo-formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #004AAD;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-container {
    position: relative;
}

.input-container input {
    padding-right: 2.5rem;
}

.input-container i {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #004AAD;
}

input:focus {
    border-color: #004AAD;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: #004AAD;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.btn-link {
    color: #004AAD;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.btn-link:hover {
    color: #002a5c;
}

.termos {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color: #004AAD;
}

.termos a {
    color: #004AAD;
    text-decoration: underline;
}

.termos a:hover {
    color: #002a5c;
}

.criar-conta-p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #004AAD;
}

.criar-conta-p a {
    color: #004AAD;
    text-decoration: underline;
}

.criar-conta-p a:hover {
    color: #002a5c;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 480px) {
    .container-criar-conta {
        width: 90%; /* Reduz a largura do container em dispositivos móveis */
        max-width: 360px; /* Garante que o container não fique mais largo que o máximo definido */
        padding: 15px;
    }

    .caixa-criar-conta h2 {
        font-size: 20px;
    }

    .grupo-formulario label {
        font-size: 14px;
    }

    .grupo-formulario input {
        font-size: 14px;
        padding: 8px;
    }

    .btn-primary, .btn-link {
        font-size: 14px;
        padding: 8px;
    }

    .termos, .criar-conta-p {
        font-size: 12px;
    }
}
