/* Estilos específicos para a página de criação de conta */

.container-criar-conta {
    width: 360px;
    margin: auto;
    padding: 1.25rem; /* 20px */
    background: white;
    position: relative;
}

.barra-superior {
    width: 100%;
    height: 3.9375rem; /* 63px */
    background: #004AAD;
    display: flex;
    align-items: center;
    padding: 0 1.125rem; /* 18px */
}

.imagem-perfil {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border-radius: 50%;
}

.titulo-header {
    color: white;
    font-size: 0.75rem; /* 12px */
    font-weight: 700;
    margin-left: auto;
}

.caixa-criar-conta {
    background: white;
    box-shadow: 0 0.0625rem 1.25rem rgba(0, 0, 0, 0.25); /* 0px 1px 20px */
    border-radius: 0.625rem; /* 10px */
    padding: 1.25rem; /* 20px */
}

.caixa-criar-conta h2 {
    color: #004AAD;
    text-align: center;
    font-size: 1.5rem; /* 24px */
}

.grupo-formulario {
    margin-bottom: 0.9375rem; /* 15px */
}

.grupo-formulario label {
    color: #004AAD;
    font-weight: bold;
    font-size: 1rem; /* 16px */
}

.grupo-formulario input {
    width: 100%;
    padding: 0.625rem; /* 10px */
    border: 0.0625rem solid #004AAD; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    font-size: 1rem; /* 16px */
    box-sizing: border-box; /* Para garantir que o padding e a borda sejam incluídos nas dimensões do elemento */
    transition: border-color 0.3s; /* Suaviza a mudança de cor da borda */
}

/* Estilo específico para o campo de confirmação de senha */
input[name="confirmar-senha"] {
    border-color: #004AAD; /* Cor da borda padrão */
}

/* Estilo do foco para todos os campos de entrada */
input:focus {
    border-color: #004AAD; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
}

.botao-primario {
    width: 100%;
    padding: 0.625rem; /* 10px */
    background-color: #004AAD;
    border: none;
    border-radius: 0.3125rem; /* 5px */
    color: white;
    font-weight: bold;
    font-size: 1rem; /* 16px */
}

.botao-voltar {
    display: block;
    width: 100%;
    padding: 0.625rem; /* 10px */
    background: none;
    border: none;
    color: #004AAD;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 0.625rem; /* 10px */
    font-size: 0.875rem; /* 14px */
    text-decoration: underline;
}

.botao-voltar:hover {
    color: #002a5c;
}

.termos {
    text-align: center;
    margin-top: 1.25rem; /* 20px */
    font-size: 0.625rem; /* 10px */
    color: rgba(28, 28, 28, 0.88);
}

.termos a {
    font-weight: bold;
    text-decoration: none;
}

.footer-content {
    text-align: center;
    margin-top: 1.25rem; /* 20px */
}

.footer-link {
    font-size: 0.75rem; /* 12px */
    margin: 0 0.625rem; /* 10px */
    color: #004AAD;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Adicione isso ao seu arquivo CSS */

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding-right: 2.5rem; /* Espaço para o ícone */
}

.input-container i {
    position: absolute;
    right: 0.5rem; /* Ajuste o posicionamento conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #004AAD; /* Cor do ícone */
}


/* Media queries para responsividade */
@media (max-width: 768px) {
    .container-criar-conta {
        width: 90%;
        padding: 0.625rem; /* 10px */
    }

    .barra-superior {
        flex-direction: column;
        align-items: flex-start;
    }

    .imagem-perfil {
        margin-bottom: 0.625rem; /* 10px */
    }

    .caixa-criar-conta {
        padding: 0.9375rem; /* 15px */
    }

    .botao-primario, .botao-voltar {
        font-size: 1rem; /* 16px */
    }
}

@media (max-width: 480px) {
    .container-criar-conta {
        width: 90%;
        padding: 0.625rem; /* 10px */
    }

    .caixa-criar-conta {
        padding: 0.625rem; /* 10px */
    }

    .botao-primario, .botao-voltar {
        font-size: 0.875rem; /* 14px */
        padding: 0.5rem; /* 8px */
    }

    .grupo-formulario input {
        padding: 0.5rem; /* 8px */
    }

    .caixa-criar-conta h2 {
        font-size: 1.25rem; /* 20px */
    }

    .termos, .footer-link {
        font-size: 0.75rem; /* 12px */
    }
}
