/* Estilos gerais */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

/* Estilos da home */
.top-bar {
  width: 100%;
  height: 14vh;
  background-color: #004AAD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}


.top-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav ul li {
  margin-right: 2rem;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

/* Mostrar o ícone do menu hambúrguer e esconder o menu padrão */
.menu-icon {
  display: block;
}

.navbar {
  background-color: #004AAD !important;;
}

.navbar-nav, .nav-link {
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 700;
}

.navbar-brand img {
  width: 5.5rem;
  height: 5.5rem;
}

/* Ajusta a cor do ícone do menu hamburger */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}



.secao-bem-vindo {
  text-align: center;
  padding: 1rem 0;
  /* Reduzido para diminuir o espaço */
}

.secao-bem-vindo h1 {
  color: #004AAD;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  /* Reduzido para diminuir o espaço */
}

.secao-bem-vindo p {
  color: #004AAD;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  /* Reduzido para diminuir o espaço */
}

.logo-grande img {
  width: 25vw;
  height: auto;
  display: block;
  margin: 1rem auto;
  /* Ajustado para reduzir o espaço ao redor do logo */
}

.novo-texto {
  text-align: center;
  color: #004AAD;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem;
}

.secao-cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* Ajustado para reduzir o espaço entre os botões */
  padding: 1rem 0;
  /* Ajustado para reduzir o espaço */
}

.botao-cta a {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  background-color: #004AAD;
  color: white;
  border-radius: 2rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.declaracao-missao {
  text-align: center;
  padding: 1rem 0;
  /* Ajustado para reduzir o espaço */
}

.declaracao-missao p {
  color: #004AAD;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  /* Reduzido para diminuir o espaço */
}

footer {
  background-color: #004AAD;
  padding: 0.4rem 0;
  margin: 0;
  width: 100%;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* Ajustado para reduzir o espaço entre ícones */
  padding: 1rem 0;
  /* Ajustado para reduzir o espaço */
}

.icone-rede-social {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.icone-rede-social:hover {
  color: #ccc;
}

/* Estilos da página de login */
.container-login {
  max-width: 360px;
  margin: auto;
  padding: 3rem 1rem 1rem 1rem;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004AAD;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

.imagem-perfil {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.caixa-login{
  background-color: white;
  box-shadow: 0 0.0625rem 1.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.grupo-formulario {
  margin-bottom: 0.9375rem;
}

.grupo-formulario label {
  color: #004AAD;
  font-weight: bold;
  font-size: 1rem;
}

.grupo-formulario input {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #004AAD;
  border-radius: 0.3125rem;
  font-size: 1rem;
}

/* Estilo base para todas as mensagens de alerta */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert p {
  margin: 0;
}

/* Estilo para mensagens de sucesso */
.alert-success {
  color: #155724;
  /* Cor do texto */
  background-color: #d4edda;
  /* Cor de fundo */
  border-color: #c3e6cb;
  /* Cor da borda */
}

/* Estilo para mensagens de erro */
.alert-danger {
  color: #721c24;
  /* Cor do texto */
  background-color: #f8d7da;
  /* Cor de fundo */
  border-color: #f5c6cb;
  /* Cor da borda */
}

.link-senha-esquecida {
  color: #004AAD;
  font-size: 0.75rem;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 0.625rem;
}

.link-senha-esquecida:hover {
  text-decoration: underline;
  color: #002a5c;
}



.termos {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 0.625rem;
  color: rgba(28, 28, 28, 0.88);
}

.termos a {
  font-weight: bold;
  text-decoration: none;
}

.botao-cancelar {
  display: block;
  width: 100%;
  padding: 0.625rem;
  background: none;
  border: none;
  color: #004AAD;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-top: 0.625rem;
  font-size: 0.875rem;
  text-decoration: underline;
}

.botao-cancelar:hover {
  color: #002a5c;
}

/* Estilos específicos para a página de criação de conta */
.container-criar-conta, .container-criar-perfil {
  width: 100%;
  max-width: 320px;
  padding: 1rem;
  background: white;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 40px auto;
  /* Centraliza horizontalmente */
}

.caixa-login h2,
.container-redefinir-senha h2,
.caixa-criar-conta h2, .caixa-criar-perfil h2 {
  color: #004AAD;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
}

.input-container input {
  padding-right: 2.5rem;
}

.input-container i {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #004AAD;
}

input:focus {
  border-color: #004AAD;
  outline: none;
}

.btn-primary {
  background-color: #004AAD;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.btn-link {
  color: #004AAD;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.btn-link:hover {
  color: #002a5c;
}

.criar-conta-p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #004AAD;
}

.criar-conta-p a {
  color: #004AAD;
  text-decoration: underline;
}

.criar-conta-p a:hover {
  color: #002a5c;
}

/* public/css/recuperar-senha.css */
.container-recuperar-senha {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 1.25rem;
  /* 20px */
}

.caixa-recuperar-senha {
  width: 100%;
  max-width: 22.5rem;
  /* 360px */
  background: white;
  box-shadow: 0px 0.0625rem 1.25rem rgba(0, 0, 0, 0.25);
  /* 0px 1px 20px */
  border-radius: 0.625rem;
  /* 10px */
  padding: 2rem;
  /* 20px */

}

.caixa-verificar-token h2,
.caixa-recuperar-senha h2 {
  color: #004AAD;
  margin-bottom: 1.25rem;
  /* 20px */
  font-size: 1.5rem;
  /* 24px */
}

.container-redefinir-senha p,
.caixa-verificar-token p,
.caixa-recuperar-senha p {
  color: #004AAD;
  font-size: 0.875rem;
  /* 14px */
  margin-bottom: 1.25rem;
  /* 20px */
}

/* verificar token */

.container-verificar-token {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1.25rem;
  /* 20px */
}

.caixa-verificar-token {
  background: white;
  box-shadow: 0px 0.0625rem 1.25rem rgba(0, 0, 0, 0.25);
  /* 0px 1px 20px */
  border-radius: 0.625rem;
  /* 10px */
  padding: 2rem;
  /* 20px */
}

.caixa-verificar-token .input-container {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  padding: 0.625rem;
}

.caixa-verificar-token .input-container input {
  width: 100%;
  padding: 0.625rem;
  /* 10px */
  border: 0.0625rem solid #004AAD;
  /* 1px */
  border-radius: 0.625rem;
  /* 10px */
}

.caixa-verificar-token .input-container label {
  color: #004AAD;
  font-weight: bold;
  font-size: 1rem;
  /* 16px */
}

.caixa-verificar-token .link {
  color: #004AAD;
  display: block;
  margin-top: 0.625rem;
  /* 10px */
  text-align: center;
}

.container-redefinir-senha {
  width: 100%;
  max-width: 320px;
  padding: 2rem;
  background: white;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 90px auto;
  /* Centraliza horizontalmente */
}

.caixa-criar-perfil {
  max-width: 1000px; /* Largura máxima para a caixa */
  width: 100%; /* Garante que a caixa ocupe toda a largura possível até o max-width */
  background-color: white;
  padding: 3rem; /* Espaçamento interno para a caixa */
 }

/* Estiliza o container do formulário para centralizá-lo */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Faz com que o container ocupe toda a altura da tela */
  background-color: #f4f4f4; /* Cor de fundo para ajudar na visualização */
}

/* Estiliza o formulário */
form {
  width: 100%;
  max-width: 600px; /* Define uma largura máxima para o formulário */
  margin: 0 auto; /* Centraliza o formulário dentro da caixa */
}

.formulario {
  max-width: 500px; /* Define uma largura máxima para o formulário */
  width: 100%;
  padding: 2rem; /* Ajustado para um espaçamento interno mais razoável */
  border-radius: 1rem;
  background-color: #fff; /* Cor de fundo do formulário */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estiliza os grupos de formulário */
.form-group {
  margin-bottom: 0.8rem; /* Adiciona espaçamento entre os grupos de formulário */
}

/* Ajusta os elementos do formulário */
.form-check {
  margin-bottom: 0.8rem; /* Adiciona espaçamento entre os itens de radio */
}

/* Estiliza o botão */
.botao-primario {
  width: 100%;
  padding: 0.625rem;
  background-color: #004AAD;
  border: none;
  border-radius: 3rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

/* Estilização para o formulário de criação de perfil */
.container.mt-5 {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

h2.text-center {
  color: #004AAD;
  font-weight: 700;
  margin-bottom: 1rem;
}

#profile-image {
  border: 0.125rem solid #004AAD;
  border-radius: 50%; /* Deixa a imagem em formato circular */
  margin-bottom: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  width: 150px; /* Ajusta o tamanho */
  height: 150px; /* Mantém o formato */
  object-fit: cover; /* Garante que a imagem não deforme */
}

.form-control-file {
  display: block;
  margin: 0 auto;
  background-color: #f8f9fa; /* Fundo claro */
  color: #004AAD;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-control-file:hover {
  background-color: #e0e0e0;
}

.form-label {
  color: #004AAD;
  font-weight: bold;
}

.form-control, .form-select, .form-control-file {
  border: 0.0625rem solid #004AAD;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
}

.form-control:focus, .form-select:focus, .form-control-file:focus {
  border-color: #002a5c;
  box-shadow: 0 0 0.1875rem rgba(0, 42, 92, 0.25);
}

textarea.form-control {
  resize: vertical;
}

h4 {
  color: #004AAD;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.d-flex.justify-content-between {
  margin-top: 1.5rem;
}

input[type="radio"] + label {
  margin-right: 1rem;
  font-weight: bold;
  color: #004AAD;
}

input[type="radio"]:checked + label {
  color: #004AAD;
}

/* Media queries para responsividade */
@media (max-width: 768px) {

  .botao-primario {
    font-size: 0.875rem; /* Ajusta o tamanho da fonte em telas menores */
  }
  .container {
    max-width: 90%;
  }

  .top-bar {
    height: 10vh;
    padding: 0 1rem;
  }

  .navbar-brand img {
    width: 4rem;
    height: 4rem;
  }

  .top-nav ul li {
    margin-left: 1.5rem;
  }

  .top-nav ul li a {
    font-size: 1rem;
  }

  /* Mostrar o ícone do menu hambúrguer e esconder o menu padrão */
  .menu-icon {
    display: block;
  }
  .secao-bem-vindo {
    padding: 0.5rem 0;
    /* Ajustado para telas menores */
  }

  .secao-bem-vindo h1 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
    /* Ajustado para reduzir espaço */
  }

  .secao-bem-vindo p {
    font-size: 0.875rem;
    margin: 0.5rem 0;
    /* Ajustado para reduzir espaço */
  }

  .logo-grande img {
    width: 50vw;
    margin: 1rem auto;
  }

  .novo-texto {
    font-size: 0.85rem;
    padding: 0.75rem;
    /* Ajustado para reduzir espaço */
  }

  .secao-cta {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .botao-cta a {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-size: 0.85rem;
  }

  .declaracao-missao {
    padding: 1rem 0;
    /* Ajustado para telas menores */
  }

  .declaracao-missao p {
    font-size: 0.875rem;
    margin: 0.5rem 0;
    /* Ajustado para reduzir espaço */
  }

  .footer {
    padding: 1rem 0;
    /* Ajustado para telas menores */
  }

  .redes-sociais {
    gap: 1rem;
    /* Ajustado para reduzir espaço entre ícones */
  }

  .icone-rede-social {
    font-size: 1.5rem;
    /* Ajustado para telas menores */
  }

  /*.container-login {
    width: 90%;
  }*/

  .barra-superior {
    padding: 0.5rem;
  }

  .imagem-perfil {
    width: 2rem;
    height: 2rem;
  }

  .caixa-login {
    padding: 1rem;
  }


  .grupo-formulario {
    margin-bottom: 0.75rem;
  }

  .grupo-formulario label {
    font-size: 0.875rem;
  }

  .grupo-formulario input {
    font-size: 0.875rem;
  }

  .link-senha-esquecida {
    font-size: 0.65rem;
  }

  .botao-primario {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .termos {
    font-size: 0.625rem;
  }

  .criar-conta-p {
    font-size: 0.625rem;
  }

  .botao-voltar {
    font-size: 0.75rem;
  }

  .input-container input {
    padding-right: 2rem;
  }

  .input-container i {
    font-size: 1.25rem;
  }

  .caixa-recuperar-senha {
    width: 90vw;
  }

  .caixa-recuperar-senha h2 {
    font-size: 1.25rem;
    /* 20px */
  }

  .caixa-recuperar-senha p {
    font-size: 0.75rem;
    /* 12px */
  }

  .container-verificar-token {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .form-control-file {
    font-size: 0.675rem; /* Reduz o tamanho da fonte */
    padding: 0.1rem 0.4rem; /* Reduz o padding */
  }

  #profile-image {
    width: 120px; /* Ajusta o tamanho da imagem em dispositivos menores */
    height: 120px;
  }
}
