/* Reset básico e configurações de box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 60px; /* Garantir que o conteúdo não sobreponha o footer */
    min-height: 100vh; /* Garantir que a altura mínima da página seja 100% da viewport */
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1; /* Fazer com que a div wrapper ocupe o espaço restante da tela */
}

.container-verificar-token {
    max-width: 360px;
    margin: auto;
    padding: 20px;
    flex: 1; /* Fazer com que o container ocupe o espaço restante da página */
}

.caixa-verificar-token {
    background: white;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}

.caixa-verificar-token .input-container {
    margin-top: 20px;
}

.caixa-verificar-token .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #004AAD;
    border-radius: 10px;
}

.caixa-verificar-token .input-container label {
    color: #8B8989;
    font-size: 12px;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}

.caixa-verificar-token .button {
    background: #004AAD;
    color: white;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.caixa-verificar-token .link {
    color: #004AAD;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.caixa-verificar-token .instructions {
    color: #004AAD;
    text-align: center;
}

@media (max-width: 767px) {
    .container-verificar-token {
        width: 100%;
        height: auto;
        padding: 15px;
    }
}
