<div class="container-login">
    <div class="caixa-login">
        <h2>Faça o login para ver mais</h2>
        <form action="/login" method="POST">
            <div class="grupo-formulario">
                <label for="email">E-mail ou telefone:</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu e-mail ou telefone" required>
            </div>
            <div class="grupo-formulario">
                <label for="senha">Senha</label>
                <div class="input-container">
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Digite sua senha" required>
                    <i class="bi bi-eye" id="toggleSenha"></i>
                </div>
            </div>
            
            <div class="grupo-formulario">
                <a href="/recuperar-senha" class="link-senha-esquecida">Esqueceu sua senha?</a>
            </div>
            <button type="submit" class="botao-primario">Entrar</button>
        </form>
        <button onclick="window.location.href='/'" class="botao-cancelar">Cancelar</button>
        <div class="termos">
            <p>Ao continuar, você concorda com os <a href="#">Termos de Serviço</a> do Redefinindo Jornadas e confirma que leu a nossa <a href="#">Política de Privacidade</a>;</p>
            <p><a href="#">Aviso na coleta de informações</a>;</p>
        </div>
        <div class="criar-conta-p">
            <p>Ainda não está no Redefinindo Jornadas? <a href="/criar-conta">Crie uma conta.</a></p>
        </div>
    </div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleSenha = document.getElementById('toggleSenha');
        const senhaInput = document.getElementById('senha');
        
        if (toggleSenha && senhaInput) {
            toggleSenha.addEventListener('click', function() {
                if (senhaInput.type === 'password') {
                    senhaInput.type = 'text';
                    toggleSenha.classList.remove('bi-eye');
                    toggleSenha.classList.add('bi-eye-slash');
                } else {
                    senhaInput.type = 'password';
                    toggleSenha.classList.remove('bi-eye-slash');
                    toggleSenha.classList.add('bi-eye');
                }
            });
        }
    });
</script>