<div class="container-recuperar-senha">
    <div class="caixa-recuperar-senha">
        <h2>Esqueceu sua senha?</h2>
        <p>Informe seu e-mail para confirmarmos sua conta:</p>
        <form action="/recuperar-senha" method="POST">
            <div class="grupo-formulario">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu e-mail" required>
            </div>
            <button type="submit" class="botao-primario">Enviar</button>
        </form>
        <button onclick="window.location.href='/'" class="botao-voltar">Voltar</button>
    </div>
</div>