<h1>Redefinir Senha</h1>
    <form action="/redefinir-senha" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="email" value="<%= email %>">
        <div>
            <label for="novaSenha">Nova Senha:</label>
            <input type="password" id="novaSenha" name="senha" required>
        </div>
        <div>
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input type="password" id="confirmarSenha" name="confirmarSenha" required>
        </div>
        <div>
            <button type="submit">Redefinir Senha</button>
        </div>
    </form>