<div class="container-verificar-token">
    <div class="caixa-verificar-token">
        <h2>Verificação de token</h2>
        <p>Insira no campo abaixo o token que<br> lhe foi enviado por e-mail:</p>
        <div class="input-container">
            <label for="token">Token</label>
            <input type="text" id="token" name="token" class="form-control">
        </div>
        <button type="submit" class="botao-primario">Verificar</button>
        <button onclick="window.location.href='/'" class="botao-cancelar">Cancelar</button>
</div>

