<footer class="rodape">
    <div class="rodape-barra">
      <!-- Adicionando ícones das redes sociais -->
      <div class="redes-sociais">
        <a href="https://www.facebook.com/profile.php?id=61550486858825&mibextid=ZbWKwL" target="_blank" class="icone-rede-social">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/redefinindojornadas/" target="_blank" class="icone-rede-social">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </footer>