<% if (messages.error && messages.error.length > 0) { %>
    <% messages.error.forEach(message => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p><%= message %></p>
        </div>
    <% }); %>
<% } %>

<% if (messages.success && messages.success.length > 0) { %>
    <% messages.success.forEach(message => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p><%= message %></p>
        </div>
    <% }); %>
<% } %>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alertList = document.querySelectorAll('.alert');

        alertList.forEach(function (alert) {
            // Adiciona um temporizador para fechar automaticamente
            setTimeout(() => {
                alert.classList.remove('show'); // Remove a classe "show" para ocultar a mensagem
                setTimeout(() => {
                    alert.remove(); // Remove a mensagem do DOM após o fade-out
                }, 300); // Tempo para o fade-out (ajustável)
            }, 5000); // Tempo em milissegundos (7 segundos)
        });
    });
</script>
