<header class="top-bar">
    <div class="profile-picture">
      <img src="img/logo.png" alt="Logotipo">
    </div>
    <nav class="top-nav">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/criar-conta">Criar conta</a></li>
      </ul>
    </nav>
  </header>
  