<header class="top-bar">
  <div class="profile-picture">
      <img src="/img/logo.png" alt="Logotipo">
  </div>
  <div id="menu-icon-apresentacao" class="menu-icon">
      <span>&#9776;</span> <!-- Ícone do menu hambúrguer -->
  </div>
  <nav id="nav-apresentacao" class="top-nav">
      <ul>
          <li><a href="/">Informações</a></li>
          <li><a href="/">Criar perfil</a></li>
          <li><a href="/login">Sair</a></li>
      </ul>
  </nav>
</header>